# from https://github.com/anothrNick/github-tag-action, works for merge requests to main
name: Bump Build and Publish

on:
  push:
    branches:
      - test

permissions:
  contents: write

jobs:
  deploy:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: '0'

    - name: Bump version and push tag
      uses: anothrNick/github-tag-action@v1 # Don't use @master or @v1 unless you're happy to test the latest version
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }} # if you don't want to set write permissions use a PAT token
        WITH_V: true
    - name: Set up Python
      uses: actions/setup-python@v3
      with:
        python-version: '3.x'
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install setuptools wheel setuptools_scm twine
    - name: Build package
      run: python -m build
    - name: Publish package
      uses: pypa/gh-action-pypi-publish@27b31702a0e7fc50959f5ad993c78deac1bdfc29
      with:
        user: __token__
        password: ${{ secrets.PYPI_API_TOKEN }}


#name: Bump version
#on:
#  pull_request:
#    types:
#      - closed
#    branches:
#      - main

#jobs:
#  build:
#    if: github.event.pull_request.merged == true
#    runs-on: ubuntu-22.04
#    permissions:
#      contents: write
#    steps:
#    - uses: actions/checkout@v4
#      with:
#        ref: ${{ github.event.pull_request.merge_commit_sha }}
#        fetch-depth: '0'
#
#    - name: Bump version and push tag
#      uses: anothrNick/github-tag-action@v1 # Don't use @master or @v1 unless you're happy to test the latest version
#      env:
#        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }} # if you don't want to set write permissions use a PAT token
#        WITH_V: true
#        PRERELEASE: true
#    - name: Install dependencies
#      run: |
#        python -m pip install --upgrade pip
#        pip install setuptools wheel twine
#
#    - name: Build Distribution
#      run: |
#        python setup.py sdist bdist_wheel
#
#    - name: Publish to PyPI
#      if: startsWith(github.ref, 'refs/tags/v')
#      run: |
#        twine upload dist/*
#      env:
#        TWINE_USERNAME: __token__
#        TWINE_PASSWORD: ${{ secrets.PYPI_API_TOKEN }}

